[MASTER]
py-version = 3.10
ignore=tests

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    line-too-long,
    invalid-name,
    too-many-branches,
    too-many-instance-attributes,
    too-many-locals,
    too-many-boolean-expressions,
    too-many-nested-blocks

[FORMAT]
max-line-length=100
indent-string='    '
indent-after-paren=4

[BASIC]
variable-rgx=^([a-z_][a-z0-9_]{2,}|[A-Z][a-zA-Z0-9]+)$
method-rgx=^([a-z_][a-z0-9_]{2,}|[A-Z][a-zA-Z0-9]+)$
function-rgx=^([a-z_][a-z0-9_]{2,}|[A-Z][a-zA-Z0-9]+)$
argument-rgx=^([a-z_][a-z0-9_]{2,}|[A-Z][a-zA-Z0-9]+)$

[DESIGN]
max-args=6
max-attributes=10
max-locals=15
max-branches=12

[TYPECHECK]
disable=import-error
